# Build results
bin/
obj/

# NuGet packages
*.nupkg
**/packages/*
*.snupkg
**/node_modules/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide

# Rider-specific files
.idea/
*.sln.iml

# Visual Studio Code files
.vscode/

# Logs
*.log

# Ignore appsettings configuration files
appsettings.json
appsettings.Development.json

# Publish folder
publish/

# DotNet core tools
**/.vs/
**/.vscode/

# Ignore generated test folders
TestResults/

